@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://kit-free.fontawesome.com/releases/latest/css/free.min.css');

.navbar{
    height: 50px !important;
}

